{% extends 'base.html.twig' %}

{% block title %}Открытый урок курса PHP Professional{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col">
                <h2>Открытый урок</h2>

            </div>
        </div>
    </div>

{% endblock %}
